html, body, p {
	margin: 0;
	padding: 0;	
}

html {
	font-family:  sans-serif;
	font-size:  16px;
	color: #333;
}

body {
	background-color: #333;
	min-width: 600px;
	position: relative;
}

.info {
	position: absolute;
	z-index: 50;
	top: 145px;
	left:  50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);	
	box-sizing: border-box;
	width: 500px;
	text-align: center;
	line-height: 1.5em;
	padding:  25px 60px;
	border:  1px solid #29411f;
	font-size: 1.25em;
	background-color: rgba(253,249,146,0.95);
}

.info button {
	font-size: 0.9em;
	margin-top:  20px;
	width:  160px;
}

.canvas-container {
	position: relative;
	margin:  40px auto 20px auto;
	border:  1px solid #3f4936;
	width:  560px;
	height: 500px;
}

canvas {
	position: absolute;
	top:  0;
	left:  0; 
}

button {
	display:  block;
	width: 300px;
	padding: 10px 20px;
	margin: 0 auto;
	font-size: 1.125em;
	color:  #333;
	margin-bottom: 10px;
	cursor: pointer;
	border: 1px solid #333;
	background-color:  #ddd;
}

.credits {
	font-size: 12px;
	margin: 40px auto 0 auto;
	width:  400px;
	text-align: center;
	color: #000;
}

.credits a {
	text-decoration:  none;
	color: #555;
}
